.App {
  text-align: center;
  border: 2px solid pink;
  height: 600px;
  background-color: black
}

.App-header {
  background-color: rgb(0, 0, 0);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
 /*  border: 2px solid purple; */
}

.main-container {
display: flex;
flex-direction: row;
height: 300px;
/* border: 2px solid blue; */
}

.main-display {
  max-width: 100%;
  width: 100%;
  color: white;
  font-size: 24px;
  /* border: 2px solid green; */
}

.nav {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
  /*  border: 2px solid red;  */
}

.nav-left {
  max-width: 192px;
width: 20%;
font-size: 20px;
background-color: rgb(20, 20, 20);
height: 380px;
  /* border: 2px solid orange; */
}

.nav-list {
  list-style-type: none;
  text-align: left;
  margin: 0;
  line-height: 44px;
 
  padding: 0;
  padding-left: 0px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
 /*  border: 2px solid gray; */
 
  

}

.nav-left-item {
  margin-left: 5px;
  color: white;
  cursor: pointer;
}

.nav-left-item:hover {
  color: rgb(114, 182, 228);
  background-color: black;
}

.nav-button {
color: rgb(150, 150, 150);
font-weight: bold;
background-color: rgb(20, 20, 20);
padding: 4px;
padding-left: 10px;
padding-right: 10px;
border-color: steelblue;
border-radius: 15px;
margin-left: 0px;


}
.nav-button:hover {
background-color: black;
color: rgb(114, 182, 228);
}

#logo {
background-color: black;
margin-right: 0px;



}
